{% extends "kiosk/kiosk_layout.html" %} {% block content %}{{ super() }}
<main>
  <h2>메뉴를 선택해주세요</h2>
  <!-- 여러개 선택 할 수 있게 만들어야 함 -->
  <form method="get">
    {{ for item in items }}
    <button name="{{ item['Id'] }}">
      <div>{{ items['Name'] }}</div>
      <div>{{ items['UnitPrice'] }}</div>
    </button>
  </form>
  <aside>
    <!-- 삭제도 가능하게 -> 쿠키에 잠깐 넣어뒀다 삭제해야하나... -->
    <div>
      <div>{{ selected_item }}</div>
      <div>{{ selected_item }}</div>
      <div>{{ selected_item }}</div>
    </div>
    <!-- 결제하기 누르면 결제 완료 팝업 후, 제일 첫 페이지로 -->
    <a href="#">결제하기</a>
  </aside>
</main>
{% endblock %}
