<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script type="module" src="{{ url_for('static', filename='js/main.js')}}" defer></script>
    <title>Customer Management System</title>
  </head>
  <body>
    {% block content %}
    <header class="header">{% include "components/header.html" %} {% include "components/navbar.html" %}</header>
    {% endblock %}
  </body>
</html>
