{% extends "components/layout.html" %} {% block content %} {{ super() }}
<!-- Users Serch Form -->
<main>
  <form method="get" class="user-form">
    <div class="user-form__name">
      <label for="name">Name:</label>
      <input type="text" name="name" value="{{ search_name }}" />
    </div>
    <div class="user-form__gender">
      <label for="gender">Gender:</label>
      <select name="gender">
        <option value=""></option>
        <option value="Female" {% if search_gender == "Female" %} selected {% endif %}>female</option>
        <option value="Male" {% if search_gender == "Male" %} selected {% endif %}>male</option>
      </select>
    </div>
    <input class="user-form__submit submit" type="submit" value="Submit" />
  </form>
  <!-- Users Table -->
  <table>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Birthdate</th>
    </tr>
    {% for user in users %}
    <tr
      class="table__item hover"
      onclick="location.href='/user_detail/{{ user.Id }}'"
    >
      <td align="center">{{ user['Name'] }}</td>
      <td align="center">{{ user['Gender'] }}</td>
      <td align="center">{{ user['Age'] }}</td>
      <td align="center">{{ user['Birthdate'] }}</td>
    </tr>
    {% endfor %}
  </table>
</main>
{% include "components/pagination.html" %} {% endblock %}
