<nav>
  <div class="navbar">
    <ul class="navbar__menus">
      <li><a class="menu__item" href="/users">USER</a></li>
      <li><a class="menu__item" href="/orders">ORDER</a></li>
      <li><a class="menu__item" href="/order_items">ORDER ITEM</a></li>
      <li><a class="menu__item" href="/items">ITEM</a></li>
      <li><a class="menu__item" href="/stores">STORE</a></li>
    </ul>
  </div>
  <button
    class="logout__button"
    type="button"
    onclick="location.href='{{ url_for('logout.logout') }}'"
  >
    로그아웃
  </button>
</nav>
